<template name="_footer">
    <footer class="ui inverted gray vertical segment">
        <div class="ui page grid">
            <div class="row">
                <p class="eight wide column">
                    &copy; Copyright gotthetshirt
                </p>
                <p class="eight wide column right aligned">
                    <a href="http://darrengilbert.rocks">DG</a> &amp; <a href="http://maxjmay.co.uk">MJM</a>
                </p>
            </div>
        </div>
    </footer>
</template>
