<template name="hero">
    <div class="sixteen wide column" id="hero">
        <div id="background"></div>

        <div class="ui page grid">
            <div class="sixteen wide column">
                <h2 class="ui header">Been there,</h2>
                <h2 class="ui header">done that... </h2>
                <h1 class="ui header">Got the tshirt!</h1>
            </div>
            <div class="sixteen wide column">
                <div class="ui buttons inverted basic">
                    <a class="ui inverted basic button">
                        <i class="play icon"></i> Google play
                    </a>
                    <div class="or inverted basic" data-text="or"></div>
                    <a class="ui inverted basic button">
                        <i class="apple icon"></i> App Store
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
