<template name="subscribe">
    <div class="ui page grid">
        <div class="sixteen wide column">
            <form method="post" id="subscribe">
                <div class="ui top attached segment">
                    <h2 class="ui header">Subscribe to our newsletter</h2>
                    <p>Be the first to know about the releases or catch an insite into our development process.</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui fluid action input">
                        <input required type="email" placeholder="hello@gotthetshirt.me">
                        <button class="ui black right labeled icon button">
                            <i class="mail icon"></i> Subscribe
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
